# Backend - Django
SECRET_KEY=your_django_secret_key_here
DEBUG=True

# Optional if you're using PostgreSQL:
DATABASE_URL=postgres://user:password@host:port/dbname

# Optional for Render / Railway deployment:
ALLOWED_HOSTS=yourdomain.onrender.com
